  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.tinyapp.DBngin.postgresql-24D4EA1B-BD19-43C2-8858-0ED912694B91</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/Shared/DBngin/postgresql/17.0/bin/postgres</string>
      <string>-D</string>
      <string>/Users/raquellutges/code/term-project-team-yash-addy-raquel-and-kayla/db</string>
      <string>-p</string>
      <string>5432</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/Shared/DBngin/postgresql/17.0</string>
    <key>StandardOutPath</key>
    <string>/Users/raquellutges/code/term-project-team-yash-addy-raquel-and-kayla/db/postgres_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/raquellutges/code/term-project-team-yash-addy-raquel-and-kayla/db/postgres_err.log</string>
  </dict>
  </plist>