body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

/* Basic styling for the navbar */
nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: rgb(45, 255, 17);
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #777;
}
